#
# Symlink to ~/.local/share/applications/google-chrome.desktop
# Unless it uses XWayland, NVIDIA will not function properly
#
# run update-desktop-database ~/.local/share/applications/
# after making changes here so they're immediately effective
#

[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/chromium-browser --ozone-platform=x11 --enable-features=Vulkan,DrmTip,VaapiVideoDecoder,VaapiVideoEncoder --use-vulkan=always %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;